header{
    background-color: rgb(6, 71, 167);
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 101%;
}
.container{
    display: table;
}
.container img{
    margin: 0;
    padding-right: 50px;
    display: table-cell;
    z-index: 2;

}
.container .log{
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-size: 2rem;
    z-index: 2;
}
nav{
    top: 64px;
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 2;
}
#menu{
    margin: 0 auto;
    width: 103%;
    
}

#menu ul{
    margin: 0px;
    padding: 0px;
    
    
}
#menu ul li{
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 32%;
    
    float: left;
    list-style-type: none;
}
#menu ul li a{
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    color:white;
   display: block;
    font-size: 1.5rem;
    background-color:rgb(6, 71, 167);
}
#menu ul li a:hover{
    background-color: rgb(63, 140, 255);
    color: white;
    border-radius: 5px;
    transition: 1s;
}

main{
    background-color: white;
    margin-right: 0;
    color: black;
    float: left;
    width: 75%;
    text-align: justify;
    padding: 30px;

}
main img{
    width: 50%;
}
.news{
    width: 20%;
    background-color:rgb(6, 71, 167);
    margin-left: 78%;
    padding: 25px;
    text-align: center;
    color: white;
}
.news img{
    float: right;
    width: 70%;
    background-color:rgb(6, 71, 167);
    padding-right: 15%;
    color: white;
}
*{
    margin: 0;
}