header{
    background-color:rgb(6, 71, 167);
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header{
    display: table;
}
.header img{
    margin: 0;
    padding-right: 50px;
    display: table-cell;
    z-index: 2;

}
.header .log{
    display: table-cell;
    color:white;
    vertical-align: middle;
    font-size: 2rem;
    z-index: 2;
}
nav{
    top: 64px;
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 2;
}
#menu{
    margin: 0 auto;
    width: 101%;
    
}

#menu ul{
    margin: 0px;
    padding: 0px;
    
    
}

#menu ul li{
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 33%;
    
    float: left;
    list-style-type: none;
}
#menu ul li a{
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    
    color: white;
   display: block;
    font-size: 1.5rem;
    background-color:rgb(6, 71, 167);
}
#menu ul li a:hover{
    background-color:rgb(6, 71, 167);
    color:white;
    border-radius: 5px;
    transition: 1s;
}
.container {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    background-color:rgb(6, 71, 167);
    color:white;
    }
    .card {
    width: 25%;
    border: 2px solid white;
    padding: 25px;
    
    }
    .card:hover{
        transform:scale(103%)
    }
    .card__image {
    height: 130px;
    background-color: rgb(6, 71, 167);
    margin: auto;
    }
    .card__description {
    margin-top: 15px;
    text-align: center;
    }
img {
    max-width: 120px;
}
    @media screen and (max-width: 480px){
        
        .card{
            width: 95%;
            max-width: 100%;
            margin: auto auto 10px;
        }
 }
.card__image{
    padding-left: 35%;
 }
main .info{
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    text-align: justify;
    float:left;
    font-size: 1.3em;
}
h1{
    text-align: center;
}
p{
    font-size: 1.3em;
    margin-left: 25px;
    margin-right: 25px;
}
.day{
    font-size: 3em;
    text-align: right;
    margin-top: 30px;
    
}
*{
    margin: 0;
}
